<html>
<title>Restaurant Page</title>

<head>
	<script src="../javascripts/draw.js"></script>
	<script src="../javascripts/mapManager.js"></script>
	<script src="../javascripts/mapCreator.js"></script>
	<script src="../javascripts/bookingManager.js"></script>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--Load Script and Stylesheet -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


	<link rel="stylesheet" href="../stylesheets/style.css"> Logged in as: {{ user }}

</head>

<center>
	<canvas id="canvas" width="100%" height="100%"></canvas>
</center>

{{ status }}

<form action="/users/booking" method="post">
	TableID:<br>
	<input type="text" id="tableID" name="tableID" value="1" style="color:#888;" onfocus="inputFocus(this)" onblur="inputBlur(this)" readonly="true" /><br> Name:
	<br><input type="text" name="name" value=""><br> Time(hh):
	<br>
	<input type="text" name="time" value="12"><br> Duration:
	<br>
	<input type="text" name="duration" value="2 hours" style="color:#888;" onfocus="inputFocus(this)" onblur="inputBlur(this)" disabled="disabled"><br>
	<input type="submit" value="Submit">

</form>


<table>
	<tr>
		<th>Table</th>
		<th>Time</th>
		<th>Name</th>
	</tr>
</table>

{{#booking}}


<div class="getTableID">
	<table>
		<tbody>

			<tr>
				<td>{{#tableID}} {{.}} {{/tableID}}

				</td>

				<td>{{#time}} {{.}} {{/time}}
				</td>

				<td>{{#name}} {{.}} {{/name}}
				</td>

			</tr>

		</tbody>
	</table>
</div>



{{/booking}}

<p>
	Delete booking:
</p>
<form action="/users/deleteBooking" method="post">
	Table ID: <br>
	<input type="text" name="id" value="" /><br>
	Time(hh):
	<br>
	<input type="text" name="time" value="12" />
	<br>
	<input type="submit" name="delete" value="Delete" />

</form>

<script>
	var s = "{{map}}"
	map = stringToMap(s);
	getTable(map);
	var bookings = getBookings();
	getBookedTables(bookings);

	setInterval(function() {
		getBookedTables(getBookings());
		console.log("updated");
	}, 7000);
</script>


</html>
