
<head>
	<p> {{ title }}</p>
	<script src="javascripts/draw.js"></script>
	<script src="javascripts/mapManager.js"></script>
	<script src="javascripts/diningManager.js"></script>
</head>
<body>
<canvas id="canvas" width=50 height=50></canvas>
<h1> Table size: </h1>
<input type='range' min='0' max='15' value='0' id='tableSize'></input>
<h1> Restaurant size: </h1>
<input type='range' min='0' max='150' value='0' id='restaurantSize'></input>
<h1> Add table? </h1>
<input type='checkbox' id='tableCheckBox'></input>
<script>
scale = 10;
main();
</script>
</body>
