<html>
<title>Restaurant Page</title>

<head>
	<script src="../javascripts/draw.js"></script>
	<script src="../javascripts/mapManager.js"></script>
	<script src="../javascripts/mapCreator.js"></script>
	<script src="../javascripts/bookingManager.js"></script>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--Load Script and Stylesheet -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


	<link rel="stylesheet" href="../stylesheets/style.css"> Logged in as: {{ user }}

</head>





<center>
	<canvas id="canvas" width="100%" height="100%"></canvas>
</center>

{{ status }}

<form action="/users/booking" method="post">
	TableID:<br>
	<input type="text" id="tableID" name="tableID" value="" style="color:#888;" onfocus="inputFocus(this)" onblur="inputBlur(this)" /><br> Timme:
	<br>
	<input type="text" name="time" value=""><br> Duration:
	<br>
	<input type="text" name="duration" value="2 hours" style="color:#888;" onfocus="inputFocus(this)" onblur="inputBlur(this)" disabled="disabled"><br>
	<input type="submit" value="Submit">

</form>

<form action="/users/getBookings" method="post">
	<input type="submit" value="get bookings">
</form>




{{#booking}}
<li>
	<td class="getTableID">
		{{#tableID}}{{.}}{{/tableID}}
	</td>
	<td class="getTime">
		{{#time}}{{.}}{{/time}}
	</td>

</li>
{{/booking}}

<script>
var tables = document.getElementsByClassName("getTableID");
var arr = [].slice.call(tables);
arr.forEach(function(val){
	console.log(val.value);
});
console.log(tables);

</script>



<script>
	var s = "{{map}}"
	map = stringToMap(s);
	getTable(map);
	stringToMap(s);
</script>


<!--
<table>
	{{#bookings}}
	<tr>
		<td>{{ bookings.tableID }}</td>
	</tr>
	<tr>
		<td>{{ bookings.time }}</td>
	</tr>
	{{/bookings}}
</table>
!-->



</html>
